<nav class="navbar">

    <div class="navbar-logo">
        <img src="logo.png" alt="Logo">
        <span>Conecta</span>
    </div>

    <ul class="navbar-menu">
        <li>
            <a routerLink="/mi-perfil">
                Mi perfil
            </a>
        </li>

        <li>
            <a routerLink="/publicaciones">
                Publicaciones
            </a>
        </li>
        <li>
            <a (click)="logout()">
                <img src="cerrar-sesion.png" alt="Imagen de logout">
            </a>
        </li>

    </ul>

</nav>