
<div class="card-inicio">
    <div class="logo">
        <img src="logo.png" alt="" width="100px">
    </div>
    
    <div class="card-izquierda">
        <h1>Bienvenido a <span class="titulo">Conecta</span></h1>
        <p class="slogan">Tu red de confianza para acercarte a tu comunidad</p>
    </div>

    <div class="card-derecha">
        <div class="opciones-registro">
            <button class="btn-inicio" routerLink="/login" data-text="Iniciar sesión">
                Iniciar Sesion
            </button>
            <button class="btn-registro" routerLink="/registro" data-text="Registro">
                Registrarse
            </button>

        </div>
   

    </div>
</div>