<div class="card-inicio">

  <div class="publicaciones-container">

    <div class="crear-publicacion">

      <div class="crear-top">
        <div class="usuarioFoto">
          <img [src]="usuario.imagenPerfil" alt="">
          <p>@{{ usuario.nombreUsuario }}</p>
        </div>

        <button class="btn-subir"(click)="mostrarModal = true">
          Agregar imagen
        </button>

      </div>

    </div>

    @if(mostrarModal){
      <form [formGroup]="miPublicacion"
            (ngSubmit)="subir()">

        <div class="modal-overlay">

          <div class="modal-publicacion">
            <h3>Nueva publicación</h3>

            <div class="ingreso-datos">
              <div>
              <label class="form-label" for="titulo">Título</label>
              <input type="text" id="titulo" class="form-control" formControlName="titulo">
              @if (titulo.touched && titulo.hasError('required')) {
                <small class="text-danger">El titulo es obligatorio</small>
              }
              @if (titulo.touched && titulo.hasError('maxlength')) {
                <small class="text-danger">
                  Solo se permiten hasta {{titulo.getError('maxlength').requiredLength}} caracteres
                </small>
              }
            </div>


              <div>
              <label class="form-label" for="descripcion">Descripción</label>
              <textarea class="form-control" id="descripcion" formControlName="descripcion"></textarea>
              @if (descripcion.touched && descripcion.hasError('required')) {
                <small class="text-danger">La descripcion es obligatoria</small>
              }
              @if (descripcion.touched && descripcion.hasError('maxlength')) {
                <small class="text-danger">
                  Solo se permiten hasta {{descripcion.getError('maxlength').requiredLength}} caracteres
                </small>
              }
              </div>
  
              <label class="box-carga-imagen" for="imagen">
                <input type="file" id="imagen" (change)="seleccionarImagen($event)">
  
                <div class="carga-contenido">
                  <img src="subir-imagen.png" class="carga-icono">
  
                  <span>Subir imagen<br>
                  <small>PNG, JPG o JPEG</small>
                  </span>
  
                  <small class="nombre-archivo">{{ nombreArchivo }}</small>
                </div>
  
              </label>
               @if (formEnviado && imagen.hasError('required')) {
                    <small class="text-danger">Agregar una imagen es obligatorio</small>
                  }
            </div>

            <div class="acciones-modal">

              <button
                type="button"
                (click)="mostrarModal = false">
                Cancelar
              </button>

              <button type="submit">
                Publicar
              </button>

            </div>

          </div>

        </div>

      </form>
    }

    <div class="feed-publicaciones">
    
      <select #ordenamiento (change)="cambiarOrden(ordenamiento.value)" id="ordenamiento">
        <option value="likes">Más likes</option>
        <option value="fecha">Más reciente</option>
      </select>

      @for (publicacion of publicaciones(); track publicacion._id) {

        <div class="post">

          <div class="post-header">

            <div class="post-user">
               <img [src]="publicacion.imagenPerfil" alt="">
              <strong> {{ publicacion.nombreUsuario }} </strong>
              <small> {{ publicacion.fechaCreacion | date:'short' }} </small>
            </div>

          </div>

          <img [src]="publicacion.imagen" class="post-imagen" alt="">

          <div class="post-body">
            <div class="post-acciones">
              <img
                [src]="yaDioLike(publicacion)
                  ? 'Like.png'
                  : 'Nolike.png'"
                class="icono-like"
                (click)="cambiarLike(publicacion)"
                alt="Like">
  
              <div class="likes">
                {{ publicacion.cantidadLikes }} me gusta
              </div>

            </div>

            <div class="post-texto">
              <div class="post-titulo">
                <strong>@{{ publicacion.nombreUsuario }}</strong>
                <small>{{ publicacion.titulo}}</small>
              </div>

              <div class="post-descripcion">
                {{ publicacion.descripcion }}
              </div>

            
            </div>

          </div>

        </div>

      }

    </div>

  </div>

</div>