<div class="card-inicio">

  <div class="publicaciones-container">

    <div class="crear-publicacion">

      <div class="crear-top">

        <img [src]="usuario.imagenPerfil" alt="">

        <button class="btn-subir"
                (click)="mostrarModal = true">
          Agregar imagen
        </button>

      </div>

    </div>

    @if(mostrarModal){
      <form [formGroup]="miPublicacion"
            (ngSubmit)="subir()">

        <div class="modal-overlay">

          <div class="modal-publicacion">

            <h3>Nueva publicación</h3>

            <input
              type="text"
              placeholder="Agrega un titulo"
              class="form-control"
              formControlName="titulo">

            <textarea
              placeholder="Agregue una descripción"
              class="form-control"
              formControlName="descripcion">
            </textarea>

            <input
              type="file"
              (change)="seleccionarImagen($event)">

            <div class="acciones-modal">

              <button
                type="button"
                (click)="mostrarModal = false">
                Cancelar
              </button>

              <button type="submit">
                Publicar
              </button>

            </div>

          </div>

        </div>

      </form>
    }

    <div class="feed-publicaciones">
      <h2>Total: {{ publicaciones.length }}</h2>

      @for (publicacion of publicaciones; track publicacion._id) {

        <div class="post">

          <div class="post-header">

            <div class="post-user">
               <img [src]="usuario.imagenPerfil" alt="">
              <strong> {{ publicacion.nombreUsuario }} </strong>
              <small> {{ publicacion.fechaCreacion | date:'short' }} </small>
            </div>

          </div>

          <img
            [src]="publicacion.imagen"
            class="post-imagen"
            alt="">

          <div class="post-body">

            <div class="likes">
              {{ publicacion.likes.length }} me gusta
            </div>

            <div class="post-texto">
              <strong>
                {{ publicacion.nombreUsuario }}
              </strong>
              {{ publicacion.titulo}}
              {{ publicacion.descripcion }}
            </div>

          </div>

        </div>

      }

    </div>

  </div>

</div>