.pantalla-carga{
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

    gap:20px;
}

.spinner{

    width:60px;
    height:60px;

    border:6px solid #ddd;
    border-top:6px solid #b98c53;

    border-radius:50%;

    animation:girar 5s linear infinite;

}

.pantalla-carga h2 {
    font-family: "Chonburi", serif;
    color: #8a7555;
    font-size: 28px;
}

@keyframes girar{

    to{

        transform:rotate(360deg);

    }

}