<div class="dashboard">

  <h1>Dashboard de Usuarios</h1>

  <div class="card">

    <h2>Nuevo usuario</h2>

    <form [formGroup]="formularioUsuario" (ngSubmit)="crearUsuario()">

      <div class="row">

        <div class="col">

          <!-- NOMBRE -->
          <div class="form-group">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" formControlName="nombre">

            @if (nombre.touched && nombre.hasError('required')) {
              <small class="text-danger">El nombre es obligatorio</small>
            }
            @if (nombre.touched && nombre.hasError('pattern')) {
              <small class="text-danger">Solo letras</small>
            }
            @if (nombre.touched && nombre.hasError('minlength')) {
              <small class="text-danger">Mínimo {{nombre.getError('minlength')?.requiredLength}} caracteres</small>
            }
            @if (nombre.touched && nombre.hasError('maxlength')) {
              <small class="text-danger">Máximo {{nombre.getError('maxlength')?.requiredLength}} caracteres</small>
            }
          </div>

          <!-- APELLIDO -->
          <div class="form-group">
            <label class="form-label">Apellido</label>
            <input type="text" class="form-control" formControlName="apellido">

            @if (apellido.touched && apellido.hasError('required')) {
              <small class="text-danger">El apellido es obligatorio</small>
            }
            @if (apellido.touched && apellido.hasError('pattern')) {
              <small class="text-danger">Solo letras</small>
            }
            @if (apellido.touched && apellido.hasError('minlength')) {
              <small class="text-danger">Mínimo {{apellido.getError('minlength')?.requiredLength}}</small>
            }
            @if (apellido.touched && apellido.hasError('maxlength')) {
              <small class="text-danger">Máximo {{apellido.getError('maxlength')?.requiredLength}}</small>
            }
          </div>

          <!-- EMAIL -->
          <div class="form-group">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" formControlName="email">

            @if (email.touched && email.hasError('required')) {
              <small class="text-danger">Email obligatorio</small>
            }
            @if (email.touched && email.hasError('email')) {
              <small class="text-danger">Email inválido</small>
            }
          </div>

          <!-- USERNAME -->
          <div class="form-group">
            <label class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" formControlName="nombreUsuario">

            @if (nombreUsuario.touched && nombreUsuario.hasError('required')) {
              <small class="text-danger">Obligatorio</small>
            }
          </div>

          <!-- PASSWORD -->
          <div class="form-group">
            <label class="form-label">Contraseña</label>
            <input type="password" class="form-control" formControlName="password">

            @if (password.touched && password.hasError('required')) {
              <small class="text-danger">Obligatoria</small>
            }
            @if (password.touched && password.hasError('pattern')) {
              <small class="text-danger">Debe tener mayúscula y número</small>
            }
            @if (password.touched && password.hasError('minlength')) {
              <small class="text-danger">Mínimo {{password.getError('minlength')?.requiredLength}}</small>
            }
          </div>

        </div>

        <div class="col">

          <!-- FECHA -->
          <div class="form-group">
            <label class="form-label">Fecha de nacimiento</label>
            <input type="date" class="form-control" formControlName="fechaNacimiento">

            @if (fechaNacimiento.touched && fechaNacimiento.hasError('required')) {
              <small class="text-danger">Obligatoria</small>
            }
            @if (fechaNacimiento.hasError('fechaFutura') && fechaNacimiento.touched) {
              <small class="text-danger">Fecha inválida</small>
            }
          </div>

          <!-- DESCRIPCION -->
          <div class="form-group">
            <label class="form-label">Descripción</label>
            <textarea class="form-control" formControlName="descripcion"></textarea>

            @if (descripcion.touched && descripcion.hasError('required')) {
              <small class="text-danger">Obligatoria</small>
            }
          </div>

          <!-- IMAGEN -->
          <div class="form-group">
            <label class="form-label">Foto de perfil</label>

            <label class="box-carga-imagen">

              <input type="file" (change)="seleccionarImagen($event)" accept="image/*">

              <div class="carga-contenido">
                <img src="subir-imagen.png" class="carga-icono">
                <span>Subir imagen</span>
                <small>{{ nombreArchivo }}</small>
              </div>

            </label>

            @if (imagenPerfil.hasError('required')) {
              <small class="text-danger">Imagen obligatoria</small>
            }
          </div>

          <!-- ROL -->
          <div class="form-group roles">

            <label>
              <input type="radio" value="usuario" formControlName="perfil">
              Usuario
            </label>

            <label>
              <input type="radio" value="admin" formControlName="perfil">
              Administrador
            </label>

          </div>

        </div>
      </div>

      <button type="submit" class="btn-crear">
        Crear usuario
      </button>

    </form>

  </div>

  <!-- Tabla -->

  <div class="card">

    <h2>Usuarios registrados</h2>

    <table>

      <thead>

        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Perfil</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>

      </thead>

      <tbody>

        @for(usuario of usuarios(); track usuario._id){

          <tr>

            <td>{{usuario.nombre}} {{usuario.apellido}}</td>

            <td>{{usuario.nombreUsuario}}</td>

            <td>{{usuario.email}}</td>

            <td>{{usuario.perfil}}</td>

            <td>

              @if(usuario.habilitado){
                Activo
              } @else {
                Deshabilitado
              }

            </td>

            <td>

              @if(usuario.habilitado){

                <button
                  class="btn-deshabilitar"
                  (click)="deshabilitar(usuario)">
                  Deshabilitar
                </button>

              } @else {

                <button
                  class="btn-habilitar"
                  (click)="habilitar(usuario)">
                  Habilitar
                </button>

              }

            </td>

          </tr>

        }

      </tbody>

    </table>

  </div>

</div>