<div class="dashboard">

  <h1>Dashboard de Usuarios</h1>

  <!-- Formulario -->
  <div class="card">

    <h2>Nuevo usuario</h2>

    <form [formGroup]="formularioUsuario" (ngSubmit)="crearUsuario()">

      <input
        type="text"
        formControlName="nombre"
        placeholder="Nombre">
        @if (nombre.touched && nombre.hasError('pattern')) {
            <small class="text-danger">Sólo debe contener letras</small>
        }
  
        @if (nombre.touched && nombre.hasError('minlength')) {
            <small class="text-danger">Mínimo {{nombre.getError('minlength')?.requiredLength}} caracteres</small>
        }
  
        @if (nombre.touched && nombre.hasError('maxlength')) {
            <small class="text-danger">Máximo {{nombre.getError('maxlength')?.requiredLength}} caracteres</small>
        }
  
        @if (nombre.touched && nombre.hasError('required')) {
            <small class="text-danger">El nombre es obligatorio</small>
        }

      <input
        type="text"
        formControlName="apellido"
        placeholder="Apellido">
        @if (apellido.touched && apellido.hasError('pattern')) { 
            <small class="text-danger">Sólo debe contener letras</small>
        }
  
        @if (apellido.touched && apellido.hasError('minlength')) {
            <small class="text-danger">Mínimo {{apellido.getError('minlength')?.requiredLength}} caracteres</small>
        }
  
        @if (apellido.touched && apellido.hasError('maxlength')) {
            <small class="text-danger">Máximo {{apellido.getError('maxlength')?.requiredLength}} caracteres</small>
        }
  
        @if (apellido.touched && apellido.hasError('required')) {
            <small class="text-danger">El apellido es obligatorio</small>
        }

      <input
        type="text"
        formControlName="nombreUsuario"
        placeholder="Nombre de usuario">
        @if (nombreUsuario.touched && nombreUsuario.hasError('required')) {
            <small class="text-danger">El nombre de usuario es obligatorio</small>
        }
        @if (nombreUsuario.touched && nombreUsuario.hasError('minlength')) { 
            <small class="text-danger">Debe tener como mínimo {{nombreUsuario.getError('minlength').requiredLength}} caracteres</small>
        }
        @if (nombreUsuario.touched && nombreUsuario.hasError('maxlength')) { 
            <small class="text-danger">Solo se permiten {{nombreUsuario.getError('maxlength').requiredLength}} caracteres</small>
        }

      <input
        type="email"
        formControlName="email"
        placeholder="Email">
        @if (email.touched && email.hasError('required') ) {
            <small class="text-danger">El email es obligatorio</small>
        }
        @if (email.touched && email.hasError('email')) {
            <small class="text-danger">Formato inválido</small>
        }
        @if (email.touched && email.hasError('maxlength')) {
            <small class="text-danger">Máximo {{email.getError('maxlength').requiredLength}} caracteres permitidos</small>
        }

      <input
        type="password"
        formControlName="password"
        placeholder="Contraseña">
        @if (password.touched && password.hasError('required')) {
            <small class="text-danger">La password es obligatoria</small>
        }
        @if (password.touched && password.hasError('minlength')) { 
            <small class="text-danger">La password debe tener mínimo {{password.getError('minlength').requiredLength}} caracteres</small>
        }
    
        @if (password.touched && password.hasError('pattern')) {
            <small class="text-danger">La password debe contener al menos una letra mayúscula y un número</small>
        }
    
        @if (password.touched && password.hasError('maxlength')) {
            <small class="text-danger">Máximo {{password.getError('maxlength').requiredLength}} caracteres permitidos</small>
        }

      <input
        type="date"
        formControlName="fechaNacimiento">
        @if (fechaNacimiento.touched && fechaNacimiento.hasError('required')) {
            <small class="text-danger">La fecha de nacimiento es obligatoria</small>
        }
  
        @if (fechaNacimiento.touched && fechaNacimiento.hasError('fechaFutura')) {
            <small class="text-danger">La fecha de nacimiento es inválida</small>
        }
  
        @if (fechaNacimiento.hasError('edadMaxima') && fechaNacimiento.touched) {
            <small class="text-danger">La edad máxima permitida es 100 años</small>
        }

      <textarea formControlName="descripcion" placeholder="Descripción"></textarea>
        @if (descripcion.touched && descripcion.hasError('required')) {
            <small class="text-danger">La descripcion es obligatoria</small>
        }
  
        @if (descripcion.touched && descripcion.hasError('minlength')) { 
            <small class="text-danger">Debe tener como mínimo {{descripcion.getError('minlength').requiredLength}} caracteres</small>
        }
  
        @if (formEnviado && descripcion.hasError('maxlength'))  { 
            <small class="text-danger">Solo se permiten hasta {{descripcion.getError('maxlength').requiredLength}} caracteres</small>
        }
      

    <label class="box-carga-imagen">

      <input type="file" id="imagenPerfil" accept=".png, .jpg, .jpeg" (change)="manejoDeArchivo($event)" >
            <div class="carga-contenido">
                      
            <img src="subir-imagen.png" class="carga-icono" alt="">
  
                <span>Subir imagen <br> <small>PNG, JPG o JPEG</small></span>
                <small class="nombre-archivo">{{ nombreArchivo }}</small>
    
            </div>
    </label>
  
    @if (formEnviado && imagenPerfil.hasError('required')) {
        <small class="text-danger">La foto de perfil es obligatoria</small>
    }

      <div class="roles">

        <label>
          <input
            type="radio"
            value="usuario"
            formControlName="perfil">
          Usuario
        </label>

        <label>
          <input
            type="radio"
            value="admin"
            formControlName="perfil">
          Administrador
        </label>

      </div>

      <button type="submit">
        Crear usuario
      </button>

    </form>

  </div>

  <!-- Tabla -->

  <div class="card">

    <h2>Usuarios registrados</h2>

    <table>

      <thead>

        <tr>
          <th>Nombre</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Perfil</th>
          <th>Estado</th>
          <th>Acciones</th>
        </tr>

      </thead>

      <tbody>

        @for(usuario of usuarios(); track usuario._id){

          <tr>

            <td>{{usuario.nombre}} {{usuario.apellido}}</td>

            <td>{{usuario.nombreUsuario}}</td>

            <td>{{usuario.email}}</td>

            <td>{{usuario.perfil}}</td>

            <td>

              @if(usuario.habilitado){
                Activo
              } @else {
                Deshabilitado
              }

            </td>

            <td>

              @if(usuario.habilitado){

                <button
                  class="btn-deshabilitar"
                  (click)="deshabilitar(usuario)">
                  Deshabilitar
                </button>

              } @else {

                <button
                  class="btn-habilitar"
                  (click)="habilitar(usuario)">
                  Habilitar
                </button>

              }

            </td>

          </tr>

        }

      </tbody>

    </table>

  </div>

</div>