<div class="card-inicio">

  <div class="mi-perfil">
  
    <div class="perfil-header">
  
      <div class="perfil-foto">
        <img [src]="usuario.imagenPerfil" alt="Foto de perfil del usuario">
      </div>
  
      <div class="perfil-info">
        <div class="perfil-topo">
          <h2>@{{usuario.nombreUsuario}}</h2>
  
        </div>
  
        <div class="perfil-estados">
          <span><strong>{{ misPublicaciones().length }}</strong> publicaciones</span>
        </div>
  
        <div class="perfil-nombre">{{usuario.nombre}} {{usuario.apellido}}</div>
  
        <div class="perfil-descripcion">
          {{usuario.descripcion}}
        </div>
  
        <div class="perfil-extra">
          {{usuario.fechaNacimiento | date:'dd/MM/yyyy'}}
        </div>
  
      </div>
  
    </div>

  @if (postAbierto && postSeleccionado) {

    <div class="modal-backdrop" (click)="cerrarPost()">

      <div class="modal-contenido" (click)="$event.stopPropagation()">

        <div class="post-header">
          <div class="post-user">
            <img [src]="postSeleccionado.imagenPerfil" alt="">
            <strong>{{ postSeleccionado.nombreUsuario }}</strong>
            <small>{{ postSeleccionado.fechaCreacion | date:'short' }}</small>
          </div>
          <div>
              <button class="btn-eliminar" (click)="eliminarPublicacion(postSeleccionado)">
                <strong>Eliminar</strong>
              </button>
          </div>
        </div>
        
        <img
          [src]="postSeleccionado.imagen"
          class="modal-imagen"
        />

        <div class="likes">
          {{ postSeleccionado.likes.length }} me gusta
        </div>

        <div class="post-titulo">
          <strong>@{{ postSeleccionado.nombreUsuario }}</strong>
          <small>{{ postSeleccionado.titulo }}</small>
        </div>

        <div class="post-descripcion">
          {{ postSeleccionado.descripcion }}
        </div>

        <button class="cerrar" (click)="cerrarPost()">✕</button>

    </div>

  </div>

}
  
    <div class="seccion-posts">
      @if (misPublicaciones().length === 0){
        <div class="sin-posts">
          No tienes publicaciones aun
        </div>
      }

      <div class="grid-posts">

        @for (publicacion of misPublicaciones(); track publicacion._id) {

          <div class="post" (click)="abrirPost(publicacion)">
            <img [src]="publicacion.imagen" class="post-imagen" alt="">
          
          
             <div class="overlay">
              <img src="Like.png" alt=""> {{ publicacion.likes.length }}
            </div>
          </div>

        }
  
        
      </div>
    </div>
  
  </div>
</div>