.card-inicio { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    background-image: url('/fondoBienvenida.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

.mi-perfil {
  max-width: 935px;
  width: 100%;
  margin: 30px auto;
  padding: 0 20px;
  color: #262626;
  font-family: 'Poppins', sans-serif;
}

.perfil-header {
  display: flex;
  gap: 80px;
  padding: 40px ;
  align-items: center;
  flex-wrap: wrap;
}

.perfil-foto {
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-foto img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #d8c3a2;
}

.perfil-info {
  flex: 1;
  min-width: 280px;
}

.perfil-topo {
  display: flex;
  align-items: center;
  gap: 7rem;
  flex-wrap: wrap;
}

.perfil-topo h2 {
  color: #5f4f39;
  font-size: 1.7rem;
  font-weight: 400;
  margin: 0;
}

.btn-editar {
    background-color: whitesmoke;
    color: #5f4f39;
    font-family: 'Poppins', sans-serif;
    border: none;
    border-radius: 8px;
    width: 90px;
    font-weight: 600;
    font-size: 12px;
    cursor: pointer;
    box-shadow: 0 4px 0 #a28d6e;
    transition: all 0.15s ease;
    
}

.btn-editar:active {
  transform: translateY(4px);
  box-shadow: 0 0 0 #cfcfcf;
}

.perfil-estados {
  display: flex;
  gap: 35px;
  margin: 22px 0;
}

.perfil-estados span {
  font-size: 1rem;
}

.perfil-estados strong {
  font-weight: 700;
  color: #342b1f;
  
}

.perfil-nombre {
  color: #342b1f;
  font-weight: 600;
  margin-bottom: 8px;
}

.perfil-descripcion {
  color: #5f4f39;
  line-height: 1.5;
  max-width: 500px;
}

.perfil-extra {
  margin-top: 10px;
  color: #5f4f39;
  font-size: .95rem;
}

.grid-posts {
  display: grid;
  grid-template-columns: repeat(3, minmax(0,1fr));
  gap: 4px;
  margin-top: 25px;
}

.post {
  width: 100%;
  aspect-ratio: 1/1;
  overflow: hidden;
  background: #fffbf4;
  border: 1px solid #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5f4f39;
  font-weight: 500;
  position: relative;
  cursor: pointer;
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  align-items: center;
  gap: 10px;
}

.post-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-user img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user strong {
  font-size: 14px;
  color: #5f4f39;
}

.post-user small {
  font-size: 11px;
  color: gray;
}


.post-imagen {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.3s ease;
} 

.post:hover .post-imagen {
  transform: scale(1.08);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.3);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.2s;
  font-weight: bold;
  display: flex;
  gap: 7px;
}

.overlay img {
  width: 28px;
}

.post:hover .overlay {
  opacity: 1;
}

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background: white;
  width: 100%;
  max-width: 800px;
  border-radius: 10px;
  padding: 20px;
  position: relative;
  max-height: 90vh;
  overflow-y: auto;
}

.modal-imagen {
  width: 100%;
  border-radius: 8px;
  max-height: 550px;
  margin: 10px 0;
  object-fit: cover;
}

.cerrar {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.likes {
  font-size: 13px;
  font-weight: 600;
  color: #342b1f;
  margin-bottom: 10px;
}

.post-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-titulo strong {
  color: #5f4f39;
  font-size: 14px;
  font-weight: 600;
}

.post-titulo small {
  color: #342b1f;
  font-size: 14px;
  font-weight: 500;
}

.post-descripcion {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 2px;
}

.btn-eliminar {
  background: transparent;
  border: 1px solid  rgb(156, 8, 8);
  color: rgb(156, 8, 8);
  padding: 5px 10px;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-eliminar:hover {
  background: rgb(156, 8, 8);
  color: white;
}


.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  width: 100%;
  max-width: 450px;
  background: rgba(255,255,255,0.92);
  box-shadow:
    0 10px 35px rgba(138,117,85,.15),
    0 2px 10px rgba(0,0,0,.05);
  padding: 25px;
  border-radius: 24px;
  border: 1px solid rgba(255,255,255,.5);

  animation: aparecer .25s ease;
}

.modal-contenido h3 {
  font-family: "Chonburi", serif;
  color: #5f4f39;
  text-align: center;
  margin-bottom: 24px;
  font-size: 22px;
}

.ingreso-datos {
  display: flex;
  align-items: flex-start;
  gap: 25px;
}

.columna-form{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-group {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.form-label {
  font-family: "Chonburi", serif;
  color: #8a7555;
  font-size: 12px;
}

.form-control {
  border: 1.5px solid #fffaf2;
  border-radius: 14px;
  padding: 14px 16px;
  font-size: 12px;
  color: #a19e9e;
  background: #fffdf9;
  box-sizing: border-box;
  outline: none;
  transition: .25s ease;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.form-control:focus {
  border-color: #8a7555;
  background: white;
  box-shadow: 0 0 0 5px rgba(138,117,85,.12);
}

textarea.form-control {
  min-height: 100px;
  resize: none;
}

input[type="file"] {
  background: #fffdf9;
  padding: 10px;
  border-radius: 14px;
  border: 1.5px dashed #d8c3a2;
  
}

.box-carga-imagen {
  width: 100%;
  min-height: 140px;
  border: 1px dashed #d8c3a2;
  border-radius: 18px;
  background: #fffdf9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .25s ease;
  overflow: hidden;
}

.box-carga-imagen:hover {
  border-color: #8a7555;
  box-shadow: 0 0 0 5px rgba(138,117,85,.12);
}

.box-carga-imagen input {
  display: none;
}


.carga-contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  text-align: center;
}

.carga-icono {
  width: 28px;
}

.carga-contenido span {
  color: #5f4f39;
  font-size: 12px;
  font-family: "Chonburi", serif;

}

.carga-contenido small {
  color: #a28d6e;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

.acciones-modal {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 20px;
}

.acciones-modal button {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 999px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 600;
  cursor: pointer;
  transition: .3s ease;
  z-index: 1;
}

.acciones-modal button[type="submit"] {
  border: none;
  background: #8a7555;
  color: white;
}

.acciones-modal button[type="button"] {
  border: 1.5px solid #d8c3a2;
  background: white;
  color: #5f4f39;
}

.acciones-modal button::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(135deg, #8a7555, #b59b74);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform .35s ease;
  z-index: -1;
}

.acciones-modal button:hover::before {
  transform: scaleX(1);
}

.acciones-modal button[type="button"]:hover {
  color: white;
}



@media (max-width: 768px) {

  .ingreso-datos {
    flex-direction: column;
  }
  .perfil-header {
    gap: 30px;
    align-items: flex-start;
  }

  .perfil-foto img {
    width: 110px;
    height: 110px;
  }

  .perfil-topo h2 {
    font-size: 1.3rem;
  }

  .perfil-stats {
    gap: 18px;
    flex-wrap: wrap;
  }

 .grid-posts {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .post-vacio {
    height: 200px;
  }
}