<div class="post">

          <div class="post-header">

            <div class="post-user">
              <img [src]="publicacion.imagenPerfil" alt="">
              <strong> {{ publicacion.nombreUsuario }} </strong>
              <small> {{ publicacion.fechaCreacion | date:'short' }} </small>
            </div>

          </div>

          <img [src]="publicacion.imagen" class="post-imagen" alt="">

          <div class="post-body">
            <div class="post-acciones">
              <img
                [src]="yaDioLike() ? 'Like.png' : 'Nolike.png'" class="icono-like" (click)="like.emit()"
                alt="Like">
  
              <div class="likes">
                {{ publicacion.likes.length }} me gusta
              </div>

            </div>

            <div class="post-texto">
              <div class="post-titulo">
                <strong>@{{ publicacion.nombreUsuario }}</strong>
                <small>{{ publicacion.titulo}}</small>
              </div>

              <div class="post-descripcion">
                {{ publicacion.descripcion }}
              </div>

            
            </div>

          </div>

        </div>