  <div class="post">

  <div class="post-header">

    <div class="post-user">
      <img [src]="publicacion.imagenPerfil" alt="">
      <strong>{{ publicacion.nombreUsuario }}</strong>
      <small>{{ publicacion.fechaCreacion | date:'short' }}</small>
    </div>

    <button class="btn-ver" (click)="abrirPost()">
      Ver
    </button>

  </div>

  <img [src]="publicacion.imagen" class="post-imagen" alt="">

  <div class="post-body">

    <div class="post-acciones">

      <img
        [src]="yaDioLike() ? 'Like.png' : 'Nolike.png'"
        class="icono-like"
        (click)="like.emit()"
        alt="Like"
      >

      <div class="likes">
        {{ publicacion.likes.length }} me gusta
      </div>

    </div>

    <div class="post-texto">

      <div class="post-titulo">
        <strong>@{{ publicacion.nombreUsuario }}</strong>
        <small>{{ publicacion.titulo }}</small>
      </div>

      <div class="post-descripcion">
        {{ publicacion.descripcion }}
      </div>

    </div>

  </div>
    @if (puedeEliminar(publicacion)) {
      <button class="btn-eliminar" (click)="eliminar.emit(publicacion)">
        Eliminar
      </button>
  }
</div>

<!-- MODAL -->
@if (postAbierto) {

  <div class="modal-backdrop">

    <div class="modal">

      <div class="modal-left">

        <img [src]="publicacion.imagen" class="modal-img">

        <div class="modal-info">
          <strong>@{{ publicacion.nombreUsuario }}</strong>
          <p>{{ publicacion.descripcion }}</p>
        </div>

      </div>

      <div class="modal-right">

        <div class="modal-header">
          <h3>Comentarios</h3>
          <button (click)="cerrarModal()">✕</button>
        </div>

        <div class="comentarios">

          @for (comentario of comentarios(); track comentario._id) {

            <div class="comentario-item">

              <div class="comentario-burbuja">

                <div class="comentario-header">
                  <strong>@{{ comentario.usuario?.nombreUsuario }}</strong>

                  @if (comentario.usuario?._id === usuarioId && comentarioEditandoId !== comentario._id) {
                    <button (click)="iniciarEdicion(comentario)" class="btn-edit-comentario">Editar</button>
                  }
                </div>

        
                 @if (comentarioEditandoId === comentario._id) {

                    <input [formControl]="comentarioEditado"/>
                     
                      @if (comentarioEditado.touched && comentarioEditado.hasError('maxlength')) {
                        <small class="text-danger">
                            Máximo {{ comentarioEditado.getError('maxlength')?.requiredLength }} caracteres
                        </small>
                      }

                    <div class="acciones-edit">

                      <button (click)="guardarEdicion(comentario._id)">Guardar</button>
                      <button (click)="cancelarEdicion()">Cancelar</button>
                    </div>

                  } @else {

                    <p class="comentario-texto">{{ comentario.mensaje }}</p>

                    @if (comentario.modificado) {
                      <small class="editado">Editado</small>
                    }

                  }

                 


              </div>

            </div>

          }


        </div>

         @if (hayMasComentarios()) {
                  <button class="btn-cargar-mas" (click)="cargarMas()">
                    <strong>Cargar más</strong>
                  </button>
          }


        <div class="nuevo-comentario">
          <input [formControl]="comentarioControl" placeholder="Escribe un comentario...">
            
            @if (comentarioControl.touched && comentarioControl.hasError('maxlength')) {
              <small class="text-danger">
                  Máximo {{ comentarioControl.getError('maxlength')?.requiredLength }} caracteres
              </small>
            }

          <button (click)="comentarPublicacion()">Enviar</button>
        </div>

      </div>

    </div>

  </div>

}