.post {
  width: 100%;
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,.08);
}

.post-header {
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
  align-items: center;
  gap: 10px;
}

.post-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-user img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  object-fit: cover;
}

.post-user strong {
  font-size: 14px;
  color: #5f4f39;
}

.post-user small {
  font-size: 11px;
  color: gray;
}

.post-imagen {
  width: 100%;
  display: block;
  max-height: 550px;
  object-fit: cover;
}

.post-body {
  padding: 12px 14px;
  font-family: "Poppins", sans-serif;
}

.likes {
  font-size: 13px;
  font-weight: 600;
  color: #5f4f39;
  margin-bottom: 10px;
}

.post-texto {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-family: "Poppins", sans-serif;
}

.post-titulo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.post-titulo strong {
  color: #5f4f39;
  font-size: 14px;
  font-weight: 600;
}

.post-titulo small {
  color: #342b1f;
  font-size: 14px;
  font-weight: 500;
}

.post-descripcion {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  margin-left: 2px;
}

.icono-like {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform .2s ease;
}

.icono-like:hover {
  transform: scale(1.1);
}

.post-acciones {
  margin-bottom: 10px;
}


/*Comentariooos*/

.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 90%;
  height: 85%;
  background: white;
  display: flex;
  border-radius: 12px;
  overflow: hidden;
}

.modal-left {
  width: 60%;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
}

.modal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.modal-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comentarios {
  flex: 1;
  overflow-y: auto;
  margin: 10px 0;
}

.comentario {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.nuevo-comentario {
  display: flex;
  gap: 8px;
}