
<div class="card">
 <div class="logo">
    <img src="logo.png" alt="" width="100px">
  </div>

  <div class="card-header">
    <h2>Registrate para usar Conecta!</h2>
  </div>
  <div class="card-body">
    <form [formGroup]="miRegistro" (ngSubmit)="enviarForm()"> <!-- llamamos a la directiva y le asignamos el valor del formulario -->
      
      <div class="row">
        <div class="col">
        
          <div class="form-group">
            <label class="form-label" for="nombre">Nombre</label>
            <input type="text" class="form-control" id="nombre" formControlName="nombre">
            @if (nombre?.hasError('pattern') && nombre?.touched) {
              <small class="text-danger">Sólo debe contener letras</small>
            }

            @if (nombre?.touched && nombre?.hasError('minlength')) {
              <small class="text-danger">Mínimo {{nombre?.getError('minlength').requiredLength}} caracteres</small>
            }

            @if (nombre?.touched && nombre?.hasError('maxlength')) {
              <small class="text-danger">Máximo {{nombre?.getError('maxlength').requiredLength}} caracteres</small>
            }

            @if (nombre?.hasError('required') && nombre?.touched) {
              <small class="text-danger">El nombre es obligatorio</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="apellido">Apellido</label>
            <input type="text" class="form-control" id="apellido" formControlName="apellido">
            @if (apellido?.hasError('pattern') && apellido?.touched) { 
              <small class="text-danger">Sólo debe contener letras</small>
            }

            @if (apellido?.touched && apellido?.hasError('minlength')) {
              <small class="text-danger">Mínimo {{apellido?.getError('minlength').requiredLength}} caracteres</small>
            }

            @if (apellido?.touched && apellido?.hasError('maxlength')) {
              <small class="text-danger">Máximo {{apellido?.getError('maxlength').requiredLength}} caracteres</small>
            }

            @if (apellido?.hasError('required') && apellido?.touched) {
              <small class="text-danger">El apellido es obligatorio</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email">
            @if (email?.hasError('required') && email?.touched) {
              <small class="text-danger">El email es obligatorio</small>
              }

            @if (email?.hasError('email') && email?.touched) {
              <small class="text-danger">Formato inválido</small>
            }
             @if (email?.touched && email?.hasError('maxlength')) {
              <small class="text-danger">Máximo {{email?.getError('maxlength').requiredLength}} caracteres permitidos</small>
            }
          </div>

        <div class="form-group">
            <label class="form-label" for="nombreUsuario">Nombre de usuario</label>
            <input type="text" class="form-control" id="nombreUsuario" formControlName="nombreUsuario">
            @if (nombreUsuario?.hasError('required') && nombreUsuario?.touched) {
              <small class="text-danger">El nombre de usuario es obligatorio</small>
            }
            @if (nombreUsuario?.hasError('minlength') && nombreUsuario?.touched) { 
              <small class="text-danger">Debe tener como mínimo {{nombreUsuario?.getError('minlength').requiredLength}} caracteres</small>
            }

            @if (nombreUsuario?.hasError('maxlength') && nombreUsuario?.touched) { 
              <small class="text-danger">Solo se permiten {{nombreUsuario?.getError('maxlength').requiredLength}} caracteres</small>
            }

        </div>
      </div>

        <div class="col">

          <div class="form-group">
            <label class="form-label" for="fechaNacimiento">Fecha de nacimiento</label>
            <input type="date" class="form-control" id="fechaNacimiento" formControlName="fechaNacimiento">
            @if (fechaNacimiento?.hasError('required') && fechaNacimiento?.touched) {
              <small class="text-danger">La fecha de nacimiento es obligatoria</small>
            }

            @if (fechaNacimiento?.hasError('fechaFutura') && fechaNacimiento?.touched) {
                <small class="text-danger">La fecha de nacimiento no puede ser del futuro</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="descripcion">Descripcion</label>
            <textarea class="form-control" id="descripcion" formControlName="descripcion" rows="3"></textarea> 
            @if (descripcion?.hasError('required') && descripcion?.touched) {
              <small class="text-danger">La descripcion es obligatoria</small>
            }

            @if (descripcion?.hasError('minlength') && descripcion?.touched ) { 
              <small class="text-danger">Debe tener como mínimo {{descripcion?.getError('minlength')?.requiredLength}} caracteres</small>
            }

            @if (descripcion?.hasError('maxlength') && descripcion?.touched) { 
              <small class="text-danger">Solo se permiten hasta {{descripcion?.getError('maxlength')?.requiredLength}} caracteres</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="imagenPerfil">Foto de perfil</label>
              <label class="box-carga-imagen">
                <input type="file" id="imagenPerfil" (change)="manejoDeArchivo($event)"hidden>
                  <div class="carga-contenido">
                    
                    <div class="carga-icon">
                      <img src="subir-imagen.png" alt="">
                    </div>

                    <span>Subir imagen</span>
                    <small>PNG, JPG o JPEG</small>

                  </div>

                </label>
                        </div> 

          <div class="form-group">
            <label class="form-label" for="password">Clave</label>
            <input type="password" class="form-control" id="clave" formControlName="password">
            @if (password?.hasError('required') && password?.touched) {
              <small class="text-danger">La password es obligatoria</small>
            }

            @if (password?.hasError('minlength') && password?.touched) { 
              <small class="text-danger">La password debe tener mínimo {{password?.getError('minlength').requiredLength}} caracteres</small>
            }

            @if (password?.hasError('pattern') && password?.touched) {
                <small class="text-danger">La password debe contener al menos una letra mayúscula y un número</small>
            }

            @if (password?.touched && password?.hasError('maxlength')) {
              <small class="text-danger">Máximo {{password?.getError('maxlength').requiredLength}} caracteres permitidos</small>
            }
          </div>

          <div class="form-group">
            <label class="form-label" for="repiteClave">Repite clave</label>
            <input type="password" class="form-control" id="repiteClave" formControlName="repiteClave">
            @if (repiteClave?.hasError('required') && repiteClave?.touched) {
              <small class="text-danger">La clave es obligatoria</small>
            }

            @if (repiteClave?.hasError('noCoincide') && repiteClave?.touched) {
              <small class="text-danger">Las claves no coinciden</small>
            }
          </div>
        </div>
      </div>

      <div class="botonera-registro">
        <div class="botones-registro">
          <button  [disabled]="miRegistro.invalid || cargando" class="btn-envio" type="submit">
            Registrarse
          </button>
          <button class="btn-aLogin" type="button" (click)="irALogin()">
            Ya tengo cuenta
          </button>
        </div>

         <div class="iconos-registro">
          <button class="btn-reset" type="button" (click)="resetearForm()">
            <img src="tacho-de-basura.png" alt="">
          </button>
          <button class="btn-volver" type="button" (click)="volverAInicio()">
            <img src="volver-flecha.png" alt="">
          </button>
        </div> 

      </div>
    </form>
  </div>
</div>
